
<div class="container">
  <div class="col-8 d-flex justify-content-center">
    <%= form_with model: @reward, url: admin_reward_path, local: true do |f| %>
    <table>
      <tbody>
        <tr>
          <td class="pb-5 pr-5">
            <h5>ごほうび名</h5>
          </td>
          <td>
            <%= f.text_field :title, autofocus: true, autocomplete: "title" %>
          </td>
        </tr>
        <tr>
          <td class="pb-5 pr-5">
            <h5>必要ポイント</h5>
          </td>
          <td>
            <%= f.text_field :total_point, autofocus: true, autocomplete: "total_point" %>
          </td>
        </tr>
        <tr>
          <td class="pb-5 pr-5">
            <h5>おうえんメッセージ</h5>
          </td>
          <td>
            <%= f.text_area :message, autofocus: true, autocomplete: "message", class: "w-100" %>
          </td>
        </tr>
        <tr>
          <td class="pb-5 pr-5">
            <h5>画像</h5>
          </td>
          <td>
            <%= f.attachment_field :image %>
          </td>
        </tr>
        <tr>
          <td class="pb-5 pr-5"></td>
          <td>
            <%= f.submit "変更する", class: "btn btn-success w-75" %>
          </td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
</div>