<div class="col-8 d-flex justify-content-between">
  <div>
    <h2>ごほうびリスト</h2>
  </div>
  <div class="pt-5">
    <%= link_to new_admin_reward_path do %>
      <button class="btn btn-success">ごほうび追加</button>
    <% end %>
  </div>
</div>
<div class="wrap">
  <% @rewards.each do |reward| %>
    <div class="box mb-5 pt-5">
      <div class="mb-3">
        <%= attachment_image_tag reward, :image, format: 'jpeg', class:"rounded-circle", size: "200x200", fallback: "no_image.jpg" %>
      </div>
      <div class="mb-3">
        <%= link_to admin_reward_path(reward) do %>
          <%= reward.title %>
        <% end %>
      </div>
      <div>
        <h5><%= reward.total_point %>ポイント</h5>
      </div>
    </div>
  <% end %>
</div>
