<div class="container">
  <h2>おてつだい追加</h2>
  <div class="col-8 d-flex justify-content-center">
    <%= form_with model: @help, url: admin_helps_path, local: true do |f| %>
    <table>
      <tbody>
        <tr>
          <td class="pb-5 pr-5">
            <h5>おてつだい名</h5>
          </td>
          <td>
            <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
          </td>
        </tr>
        <tr>
          <td class="pb-5 pr-5">
            <h5>おてつだい内容</h5>
          </td>
          <td>
            <%= f.text_area :contents, autofocus: true, autocomplete: "contents", class: "w-100" %>
          </td>
        </tr>
        <tr>
          <td class="pb-5 pr-5">
            <h5>もらえるポイント</h5>
          </td>
          <td>
            <%= f.text_field :get_point, autofocus: true, autocomplete: "get_point" %>
          </td>
        </tr>
        <tr>
          <td class="pb-5 pr-5"></td>
          <td>
            <%= f.submit "追加する", class: "btn btn-success w-75" %>
          </td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
</div>