<div clsss="container">
  <h2>
    <%= @kid.name %>のおてつだいりれき
  </h2>
  <div class="col-12 d-flex justify-content-center">
    <table class="table table-bordered">
      <thead>
        <tr align="center">
          <th>おてつだい日</th>
          <th>おてつだい名</th>
          <th>もらえるポイント</th>
          <th>おてつだい状況</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @help_items.each do |help_item| %>
          <tr align="center">
            <td>
              <%= help_item.updated_at.strftime('%Y/%m/%d') %>
            </td>
            <td>
              <%= help_item.help.name %>
            </td>
            <td>
              <%= help_item.help.get_point %>ポイント
            </td>
            <%= form_with model: help_item, url: admin_help_item_path(help_item), local: true do |f| %>
            <td>
              <%= f.select :help_status, [['おてつだい中', true],['ポイントゲット！', false]] %>
            </td>
            <td>
              <%= f.submit "更新", class: "btn btn-success" %>
            </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>