<div class="container">
  <h1>キッズ部屋(ログイン)</h1>
  <div class="col-8">
    <%= form_with model: @kid, url: kid_session_path, local: true do |f| %>
    <table>
      <tbody>
        <tr>
          <td>なまえ</td>
          <td>
            <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
          </td>
        </tr>
        <tr>
          <td>ぱすわーど</td>
          <td>
            <%= f.password_field :password, autocomplete: "current-password" %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>
            <%= f.submit "部屋に入る", class: "btn btn-success" %>
          </td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
  <div class="col-8">
    <h4>
      キッズ部屋を作っていない子はこちら
    </h4>
    <%= link_to new_kid_registration_path do %>
      <button class="btn btn-success">部屋をつくる！</button>
    <% end %>
  </div>
</div>