<div class="container">
  <h2>
    <%= @kid.name %>のごほうび履歴
  </h2>
  <div class="col-12 d-flex justify-content-center">
    <table class="table table-bordered">
      <thead class="line">
        <tr class="heading">
          <th>目標たっせい日</th>
          <th>画像</th>
          <th>ごほうび名</th>
          <th>ひつようポイント</th>
          <th>ごほうび状況</th>
        </tr>
      </thead>
      <tbody class="line">
        <% @reward_items.each do |reward_item| %>
        <tr class="heading">
          <td>
            <%= reward_item.updated_at.strftime('%Y/%m/%d') %>
          </td>
          <td>
            <%= attachment_image_tag reward_item.reward, :image, format: 'jpeg', class: "rounded-circle", size:"60x60", fallback: "no_image.jpg" %>
          </td>
          <td>
            <%= reward_item.reward.title %>
          </td>
          <td>
            <%= reward_item.reward.total_point %>
          </td>
          <td>
            <%= form_with model: reward_item, url: admin_reward_item_path(reward_item), local: true do |f| %>
              <%= f.select :reward_status, [['ごほうび待ち', true],['ごほうびゲット！', false]] %>
              <%= f.submit "更新", class: "ml-5 btn btn-success" %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>