<div class="container">
  <h2>キッズ部屋へんこう</h2>
  <div class="col-8 d-flex justify-content-center">
    <%= form_with model: @kid, url: kids_path, local: true do |f| %>
    <table>
      <tbody>
        <tr>
          <td class="pr-5 pb-5">
            <h5>アイコン</h5>
          </td>
          <td>
            <%= f.attachment_field :image %>
          </td>
        </tr>
        <tr>
          <td class="pr-5 pb-5">
            <h5>なまえ</h5>
          </td>
          <td>
            <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
          </td>
        </tr>
        <tr>
          <td class="pr-5 pb-5"></td>
          <td>
            <%= f.submit "へんこう", class: "btn btn-success w-100" %>
          </td>
        </tr>
        <tr>
          <td class="pr-5 pb-5"></td>
          <td>
            <%= link_to unsubscribe_kids_path do %>
              <%= f.submit "部屋を退室する", class: "btn btn-danger w-100" %>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
    <% end %>
  </div>
</div>