<div class="container">
  <h2>目標ごほうび</h2>
  <div class="reward-wrap">
    <% @target_rewards.each do |target_reward| %>
      <div class="reward-box">
        <div align="center">
          <%= target_reward.reward.title %>
        </div>
        <div align="center">
          <%= attachment_image_tag target_reward.reward, :image, format: 'jpeg', class: "rounded-circle", size:"150x150", fallback: "no_image.jpg" %>
        </div>
        <div class="progress">
          <div class="progress-bar" role="progressbar" style=<%= target_reward.kid.points %> aria-valuenow=<%= target_reward.kid.points %> aria-valuemin="0" aria-valuemax=<%= target_reward.reward.total_point %>></div>
          </div>
          <% if current_kid.points >= target_reward.reward.total_point %>
            <button class="btn btn-success">ごほうびゲット！</button>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>