<div class="container">
  <h2>キッズ情報</h2>
  <div class="col-10 d-flex justify-content-center">
    <div class="col-4">
      <%= attachment_image_tag @kid, :image, format: 'jpeg', class:"rounded-circle", size: "200x200", fallback: "no_image.jpg" %>
    </div>
    <div class="col-6">
      <table>
        <tbody>
          <tr>
            <td class="pt-3 pb-3 pr-5">
              <h4>なまえ</h4>
            </td>
            <td>
              <h4><%= @kid.name %></h4>
            </td>
          </tr>
          <tr>
            <td class="pt-3 pb-3 pr-5">
              <h4>もっているポイント</h4>
            </td>
            <td>
              <% if @kid.points.present? %>
                <h4><%= @kid.points %>ポイント</h4>
              <% else %>
                <h4>0ポイント</h4>
              <% end %>
            </td>
          </tr>
          <tr>
            <td class="pt-3 pb-3 pr-5">
              <h4>ステータス</h4>
            </td>
            <td>
              <% if @kid.is_deleted == false %>
                <h4>有効</h4>
              <% else %>
                <h4 class="text-danger">退室</h4>
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-10 d-flex justify-content-center">
    <div class="col-8 pt-3 d-flex justify-content-between">
      <div>
        <%= link_to admin_reward_items_path(kid_id: @kid.id) do %>
          <button class="btn btn-success">ごほうび履歴</button>
        <% end %>
      </div>
      <div>
        <%= link_to admin_help_items_path(kid_id: @kid.id) do %>
          <button class="btn btn-success">おてつだい履歴</button>
        <% end %>
      </div>
    </div>
  </div>
</div>